body {
    padding: 20px;
    color: #1b1b1b;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    gap: 10px;
    padding: 2px;
}

li > div {
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

li > div > span {
    font-size: 13px;
    cursor: pointer;
}

.error {
    background-color: pink;
    padding: 5px;
}
