@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 20px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #262626;
  }

  @keyframes shimmer {
    0% {
      backgroundposition: "200% 0";
    }
    100% {
      backgroundposition: "-200% 0";
    }
  }
}
